<a name="pagecontent" id="pagecontent"></a>
<div class="index-sections">
  {{ content_for_index }}
</div>

<style>
  
  {% comment %} Edited out by Adam - 3/12/18 {% endcomment %}
  @media only screen  and (max-width : 736px) {
    h2.title {
      display: none;
  } 

  {% comment %} Edited by adam - 2/8/18 {% endcomment %}
  .featured-promotions .feature-section .feature-details .button {
    /* background: transparent!important; */
    /* border: 3px solid white!important; */
}
  
  .container.promotions-grid-full_width {
    padding-top: 10px!important;
}
}
  

</style>