{% include 'shogun-products', content: page %}
<a name="pagecontent" id="pagecontent"></a>

{% include 'hypervisual' %}

<div class="sixteen columns page">
  {% include 'page-multi-column', content: page.content %}
</div>

