<div id="fs-product" class="container" style="display:none;padding: 0 20px ">
  <div class="related-products__title"> 
    <h4 class="title center" style="font-size: 24px;">Seen on Instagram</h4> 
    <div class="feature_divider"></div>
  </div>
<script data-for-url="true" data-has-posts-selector="#fs-product" data-track-conversion="true" data-cell-size="33.333%" src="//foursixty.com/media/scripts/fs.slider.v2.5.js" data-feed-id="blenderseyewear" data-theme="slider_v2" data-page-size="8"></script>
<style>div.fs-has-links { display:none; } .fs-has-links::after {  padding:  16px 24px; border: 1px solid rgb(255, 255, 255); color:rgb(255, 255, 255); content: "SHOP THE LOOK"; text-indent: 0; display: block; font-size: 10pt; margin: 10px; }
  .fs-desktop .fs-timeline-entry div.fs-text-container { display: flex; flex-direction: column;align-items: center; justify-content: center; display: -webkit-flex;  -webkit-flex-direction: column;  -webkit-align-items: center;  -webkit-justify-content: center;  display: -ms-flexbox;  -ms-flex-direction: column;  -ms-flex-align: center;  -ms-flex-pack: center; transition: opacity .25s; } .fs-desktop .fs-timeline-entry .fs-text-container:hover { opacity: 1; } .fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title{font-family:Roboto; font-size: 14px;;font-style:normal;font-weight:normal;}div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text{font-family:Roboto; font-size: 12px;;font-style:normal;font-weight:bold;}.fs-wrapper div.fs-text-container * {color:rgb(255, 255, 255)}.fs-wrapper div.fs-text-container {background-color:rgba(0, 163, 240, 0.81); margin: 0px}div.fs-entry-date{display:none}div.fs-entry-title{display:none}
  .fs-wrapper div.fs-timeline-entry{ margin: 2px } 
  div.fs-timeline-detail {background-color: rgba(0, 0, 0, 0.8);} 
  div.fs-wrapper { text-align: center; }
  

@media only screen and (max-width: 768px) {
	.fs-wrapper div.fs-timeline-entry{ margin: 7px }
    .fs-slider-next-button, .fs-slider-prev-button {
    	background-color: transparent;
      opacity: 1;
    }
.fs-slider-next-button .fs-arrow, .fs-slider-prev-button .fs-arrow {
      stroke-width: 3px;
	  transform-origin: center center;
    }

  .fs-wrapper { 
    text-align:center; 
    width: calc(100% - 60px);
    margin: 0 auto; } 
.fs-slider-next-button .fs-arrow {
	transform: scale(0.5) translateX(20px);
}
.fs-slider-prev-button .fs-arrow {
	transform: scale(0.5) translateX(-20px);
}

	.fs-mobile .fs-wrapper div.fs-entry-container {
		width: 100% !important;
 		padding-top: 100% !important;
	}

	.fs-mobile .fs-slider-prev-button, .fs-mobile .fs-slider-next-button {
		display: flex;
	}
	.fs-mobile .fs-slider-prev-button.fs-hidden, .fs-mobile .fs-slider-next-button.fs-hidden {
		opacity: 0.25;
	}
}
  .fs-detail-product-image { width:100%; max-height: none; }
  
  .fs-shopify-add-cart.fs-shopify-add-cart-container {background: rgb(0,163,240); color:#ffffff;}
  .fs-detail-title { display: none }
</style>
  
</div>
