<div id="rv__recent_products" class="rv__grid">
	<div class="rv__row">
		<div class="rv__twelve">
			<h3 class="center">Recently Viewed Items</h3>
		</div>
	</div>
  <div class="rv__row"></div>
  <div id="rv__spinner"></div>
</div>

<script>
      var Spinner;
if(Spinner == undefined){
	$("head").append($("<script />",{src: "//cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"}));
	setTimeout(function(){
		var spinner = new Spinner({top: "50%", scale: 0.5}).spin( document.getElementById('rv__spinner'))
	}, 450);
}
if(jQuery.cookie == undefined){
	$("head").append($("<script />",{src: "//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"}));
}
var pHandle  
{% if product %}
pHandle = "{{product.handle}}";
{% endif %}
var pLimit   = 4; 
pLimit       = 8;
var pPointer = 0;
jQuery(function($){
	// Gives the assets enough time to load.
	setTimeout(function(){
		if(jQuery.cookie('rv__recent_products') == undefined){
			if(pHandle){
				jQuery.cookie('rv__recent_products', "{{product.handle}}", {expires: 365, path: "/"});
			}
		}
	var currentProducts = [];
	if(jQuery.cookie('rv__recent_products') != undefined){
		currentProducts = jQuery.cookie('rv__recent_products').split(",");	
	}
	if(currentProducts.length > 0){$('#_rvp').show()}
	// set the current product
	// If its not already listed
	if(currentProducts.indexOf(pHandle) == -1){
		// If we are at the limit move it to the front
		if(currentProducts.length >= pLimit){
			currentProducts.unshift; // remove very last item
		}
		currentProducts.push(pHandle); // add this one
	}
	// prevent cookie override.
	if(currentProducts.length > 0){
		jQuery.cookie('rv__recent_products', currentProducts.join(","), {expires: 365, path: "/"});	
	}
	
	$("#rv__spinner").hide();
	$.each(currentProducts.reverse(), function(i,e){
		if(pPointer >= pLimit || e == ''){
			return false;
		}else{
			pPointer += 1;
			Shopify.getProduct(e, function(product){	
				// we now have the product
				var productContainer = $("<div />",{class: "recently-viewed__container"});
				var productBox       = $("<div />",{class: "recently-viewed__product_box"});
				var productImg       = $("<div />",{class: "recently-viewed__product_img"});
				var plink            = $("<a />",{alt: product.title, title: product.title, href: product.url});
				var plink2            = $("<a />",{alt: product.title, title: product.title, href: product.url,html: product.title});
				var pTitle           = $("<h2/>");
				var pImage           = $("<img />",{class: "recently-viewed__responsive", src: product.featured_image});
        var pImageWrap       = $("<div />",{class: "recently-viewed__img_wrap"});
				var pPrice           = $("<div />",{class: "recently-viewed__price", html: Shopify.formatMoney(product.price)});
				productImg.append(plink);
        pImageWrap.append(pImage);
				plink.append(pImageWrap);
				pTitle.append(plink2);
				productBox.append(productImg);
				productBox.append(pTitle)
				productBox.append(pPrice);
				productContainer.append(productBox);
				// $("#rv__recent_products.rv__grid>.rv__row:last").append(productContainer);
				// $("#rv__recent_products.rv__grid").append("<div class='rv__clearfix'></div>");
			});
		}	
	});
	}, 850);
});
</script>