<div id="shopmessage-checkbox"></div>
{% schema %}
  {
    "name": "ShopMessage Checkbox",
    "settings": [],
	"presets": [{
      "name": "Checkbox",
      "category": "ShopMessage"
    }]
  }
{% endschema %}

{% stylesheet %}
#shopmessage-checkbox { margin:0 auto; width:175px; }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
